/*-----------------------------------------------------------------------------
version:   2.0
author:    Dmitry Marduk
email:     dmitrymar@yahoo.com
website:   http://www.kooljoy.com/
-----------------------------------------------------------------------------*/
/* @todo: work on top nav */
/* @bugfix: None */
/* Color Variables
@colordef #666666; medium gray
@colordef #0092dc; blue
@colordef #F42153; red
*/


/*! normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* GENERAL STYLES STARTS */
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
  font-family: Arial,sans-serif;
  color: #333333;
  margin-top:10px;
  font-size:12px;
  line-height: 20px;
  min-width:960px;
  background: #fff;margin-left:auto;margin-right:auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}


#wrapper {background: #fff;margin-left:auto;margin-right:auto;
}



/* Typography
===================================================*/
h1, h2, h3 {
	font-family: 'Droid Sans', 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	color: #0092dc;
	overflow:visible;
}

h1 { font-size: 36px; line-height: 18px; margin-bottom: 0px; margin-top:20px; }
h2 { font-size: 25px; line-height: 24px; margin: 0 0 10px 0; }
h3 { font-size: 17px; font-weight:bold; color: #666666; margin: 0 0 5px 0; }

h3 a {
	font-weight:700;
	color:#666;
}
h3 a:hover  {
	color:#0092dc;
	text-decoration:none;
}

h4 {font-weight:bold;}

p { margin-bottom: 10px; }


* {
font-style:normal;
font-weight:normal;
text-align:left;
text-decoration:none;
text-indent:0;
}

.textbox_1 {margin:5px 0 10px 0; width:220px;}

.textbox_2 {margin:5px 0 0 0; width:220px;}

ul.bullet-list {margin:0 0 0 0;}

.bullet-list li {
padding-left: 10px;
background-image: url(../images/bullet.png);
background-repeat: no-repeat;
background-position: 0 10px;
}

ol.numbered-list {margin:0 0 0 19px;}

.numbered-list li {
list-style:decimal;
list-style-position:outside;
/*font-weight:bold;
color:#0092dc;*/
}

.breadcrumbs {
color:#666;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
color:#666;
text-decoration:none;
}

.breadcrumbs a:hover, .breadcrumbs a:active {
border-bottom:1px solid #F42153;
text-decoration:none;
}

strong {
font-weight:bold;
}
/* Links
===================================================*/

.hidden {display: none; }

a { color: #0092dc;}

a:link, a:visited, a:focus, a:active {text-decoration: none;}
a:hover {text-decoration: underline;}



p a {text-decoration: underline;}

.image-border { border:1px solid #ccc;}



a.thumb-style img {
border:1px solid #ddd;
}

a.thumb-style img:hover {
border:1px solid #0092dc;
}

a.thumbTitle {
font-size:14px;
color:#666;
padding:3px 0 10px;
display:block;
}

/* Social Media Links Start */


.social-vertical li {
list-style: none; margin: 0 15px 0 0;
}
.social-horizontal li {
list-style: none; float: left; margin: 0 40px 8px 0;
}

.social {margin:0 0 0 0;}

.social a {
color: #666666; size:14px; text-decoration: none;  
}

.social a:hover, .social a:focus { color: #000000; text-decoration: underline; }

.social li a {
display: block; height: 20px; padding: 0px 0 0 33px;
}

.social li a.vcard { background: url(../images/vcard-icon.png) 0 0 no-repeat; padding-left:40px; }
.social li a.twitter { background: url(../images/social-sprite.png) 0 0 no-repeat; }
.social li a.behance { background: url(../images/social-sprite.png) 0 -20px no-repeat; }
.social li a.lastfm { background: url(../images/social-sprite.png) 0 -40px no-repeat; }
.social li a.linkedin { background: url(../images/social-sprite.png) 0 -60px no-repeat; }
.social li a.deviant { background: url(../images/social-sprite.png) 0 -80px no-repeat; }
.social li a.skype { background: url(../images/social-sprite.png) 0 -100px no-repeat; }

/* Social Media Links End*/



.container-fluid {background-image:url(../images/top-bg.png);background-repeat: repeat-x;height: 66px; margin:10px 0 0 0;margin-left:auto;margin-right:auto;}

.home-page .main-nav h1 a {
	background-position: 0 0px;
}
.home-page .main-nav h1 a:hover, .home-page .main-nav h1 a:focus {
	cursor: default;
}

/* Top Navigation
===================================================*/
.main-nav {
	margin: 0 0 0 0;
	padding: 0;
	width: 940px;
}
.main-nav a {
	border: none;
	outline: none;
}
.main-nav h1 {
	background: transparent;
	float: left;
	display: inline;
	width: 167px;
	height: 66px;
	margin: 0;
	padding: 0;
}
.main-nav h1 a {
	background: transparent url(../images/logo.png) no-repeat 0 0px;
	display: block;
	width: 167px;
	height: 66px;
	margin: 0;
	padding: 0;
text-indent: -1000em;
}
.main-nav h1 a:hover, .main-nav h1 a:focus {
	background: transparent url(../images/logo.png) no-repeat 0 -66px;
	text-decoration: none;
}
.main-nav h2 {
	float: left;
	display: inline;
	width: 216px;
	height: 66px;
	margin: 0;
	padding: 0;
}
.main-nav h2 a {
	background: transparent url(../images/trade.png) no-repeat 0 0px;
	display: block;
	width: 237px;
	height: 66px;
	margin: 0;
	padding: 0;
text-indent: -1000em;
}
.topnav {
	background: transparent;
	float: right;
	display: inline;
	height: 66px;
	margin: 0;
	padding: 0;
}
.topnav li {
	float: left;
	display: inline;
	height: 66px;
	margin: 0;
	padding: 0;
}
.topnav a {
	background: transparent url(../images/nav-sprite.png) no-repeat 0 -66px;
	display: block;
	height: 66px;
	margin: 0;
	padding: 0;
}

/* topnav static settings */
.topnav .portfolio a {
	background-position: 0px 0px;
	width: 114px;
}

.topnav .services a {
	background-position: -114px 0px;
	width: 101px;
}
.topnav .about a {
	background-position: -215px 0px;
	width: 86px;
}
.topnav .contact a {
	background-position: -301px 0px;
	width: 102px;
}


/* Sets background image positions of hover state */
.topnav .portfolio a:hover, .topnav .portfolio a:focus {
	background-position: 0px -66px;
}
.topnav .services a:hover, .topnav .services a:focus {
	background-position: -114px -66px;
}
.topnav .about a:hover, .topnav .about a:focus {
	background-position: -215px -66px;
}
.topnav .contact a:hover, .topnav .contact a:focus {
	background-position: -301px -66px;
}


/* styles for current page */

.home-page .main-nav h1 a {
	background-position: 0 0px;
}
.home-page .main-nav h1 a:hover, .home-page .main-nav h1 a:focus {
	cursor: default;
}
.portfolio-page .topnav .portfolio a {
	background-position: 0px -132px;
	cursor: default;
}
.services-page .topnav .services a {
	background-position: -114px -132px;
	cursor: default;
}
.about-page .topnav .about a {
	background-position: -215px -132px;
	cursor: default;
}
.contact-page .topnav .contact a {
	background-position: -301px -132px;
	cursor: default;
}

/*.page-title-bar {
  background-image: url(../images/page-title-bar.png);
  background-repeat: no-repeat;
  float:left;
  height: 1px;
  width:940px;
  margin-top: 20px;
  margin-bottom: 19px;
}*/

.page-title-bar {
background:#FFFFFF url(../images/page-title-bar.png) no-repeat scroll center center;
height:1px;
margin:20px 0 19px 0;
width:940px;
}

hr {
border-color:#eee;
border-style:solid none none;
border-width:1px 0 0;
clear:both;
height:0;
margin:20px 0 19px 0;
}

.text2 {
font-size:15px;
}

.web-icon {
display: block;
width:60px;
height:60px;
text-decoration: none;	
background: url(../images/services-sprite.png) 0 0 no-repeat;
text-decoration: none;	
}

.develop-icon {
display: block;
width:60px;
height:60px;
text-decoration: none;	
background: url(../images/services-sprite.png) 0 -120px no-repeat;
text-decoration: none;	
}

.motion-icon {
display: block;
width:60px;
height:60px;
text-decoration: none;	
background: url(../images/services-sprite.png) 0 -60px no-repeat;
text-decoration: none;	
}

.usability-icon {
display: block;
width:60px;
height:60px;
text-decoration: none;	
background: url(../images/services-sprite.png) 0 -240px no-repeat;
text-decoration: none;	
}

.print-icon {
display: block;
width:60px;
height:60px;
text-decoration: none;	
background: url(../images/services-sprite.png) 0 -180px no-repeat;
text-decoration: none;	

}

/* Footer
===================================================*/
#footerline {
  background-image: url(../images/footerline.png);background-repeat: repeat-x; height: 9px; margin:25px 0 5px 0;}

.footer {
  font-size: 11px;
  color: #666666;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom:25px;
}

.footer a, .footer a:link, .footer a:visited { color: #666666; text-decoration: none; border-bottom: 1px dotted #ffffff;}
.footer a:hover, .footer a:focus, .footer a:active {color: #000; text-decoration: none; border-bottom: 1px dotted #000;}

/* Positioning
===================================================*/
.left {float: left;}   
.right {float: right;}
.clear {clear: both;}

/* About Page
===================================================*/
.about-text p {
	text-align: justify;
}
 
.about-text img {
  float: left;
  width:220px;
	padding: 0px 12px 10px 0px;
}

/* Social Media Links Start */

.social-vertical {
width: 140px; float: left; margin: 0 0 0 0px;
}	

.social-horizontal {
width: 1000px; float: left; margin: 0 0 0 0px;
}	

.social-vertical li {
list-style: none; margin: 0 15px 11px 0;
}
.social-horizontal li {
list-style: none; float: left; margin: 0 40px 8px 0;
}

.social a {
color: #666666; size:14px; text-decoration: none;  
}

.social a:hover, .social a:focus { color: #000000; text-decoration: underline; }

.social li a {
display: block; height: 20px; padding: 0px 0 0 33px;
}

.social li a.vcard { background: url(../images/vcard-icon.png) 0 0 no-repeat; padding-left:40px; }
.social li a.twitter { background: url(../images/social-sprite.png) 0 0 no-repeat; }
.social li a.behance { background: url(../images/social-sprite.png) 0 -20px no-repeat; }
.social li a.lastfm { background: url(../images/social-sprite.png) 0 -40px no-repeat; }
.social li a.linkedin { background: url(../images/social-sprite.png) 0 -60px no-repeat; }
.social li a.deviant { background: url(../images/social-sprite.png) 0 -80px no-repeat; }
.social li a.skype { background: url(../images/social-sprite.png) 0 -100px no-repeat; }

/* Social Media Links End*/

.previews h3{padding:0 0 0 35px;line-height:25px;background:transparent url(../images/previews-sprite.png) top left no-repeat; margin:0;
}

.previews .previews-services{background-position:0 0;}

.previews .previews-about{background-position:0 -25px;}

.previews .previews-contact{background-position:0 -50px;}

.previews .previews-client{background-position:0 -75px;}

.previews .previews-computer{background-position:0 -100px;}

.previews .previews-develop{background-position:0 -125px;}

.previews .previews-design{background-position:0 -150px;}

.previews .previews-logo{background-position:0 -175px;}

.previews .previews-icon{background-position:0 -200px;}

.previews .previews-web{background-position:0 -225px;}


/* F O R M */

fieldset, form {
	border: none;
	padding: 0;
	margin: 0;
	}

label.error {
	margin: 0;
	padding: 4px;
	display: block;
	background-color: #c00;
	color: #fff !important;
	font-weight: bold;
	font-size: 11px;
	text-transform: none !important;
	letter-spacing: 0 !important;
	border: 1px solid #fff;
	}

input, textarea {
background:#FFFFFF url(images/bg_input.png) repeat-x scroll 0 0;
border-color:#BBBBBB #DDDDDD #DDDDDD #BBBBBB;
border-style:solid;
border-width:1px;
}

textarea:focus, input:focus, select:focus {
border-color:#0092dc;
border-style:solid;
border-width:1px;
}

.contact-form dl {
	padding: 4px 0;
	float: left;
	}



.contact-form label span {
	font-style: italic;
	color: #999;
	}

.contact-author, .contact-email, .contact-url, .contact-text {
	width: 458px;
	display: block;
	margin: 3px 0 10px 0;
	}

.contact-author, .contact-email, .contact-url {
	height:20px;
}

input.send {
	float:left;
	border: none;
	padding:0;
	background: none;
	cursor: pointer;
}

/*PORTFOLIO NAV*/

ul.portfolio-nav {
  margin: 10px 0 0 0;
  padding: 0;
  width: 220px;
  list-style-type: none;
  float: left;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: none;
}

ul.portfolio-nav li {
  display: inline: /* Removes large gaps in IE/Win */
}

ul.portfolio-nav a {
display: block;
color: #666;
font-size:14px;
text-decoration: none;
border-bottom: 1px solid #eee;
border-top: 0;
background: url(../images/bullet.png) no-repeat 5px 50%;
padding: 5px 15px;

}


ul.portfolio-nav a:hover, #p-ui ul.portfolio-nav .ui, #p-banners ul.portfolio-nav .banners, #p-barclays ul.portfolio-nav .barclays, #p-ajmadison ul.portfolio-nav .ajmadison, #p-pthca ul.portfolio-nav .pthca, #p-photoshop ul.portfolio-nav .photoshop, #p-illustrator ul.portfolio-nav .illustrator, #p-xhtmlcss ul.portfolio-nav .xhtmlcss, #p-javascript ul.portfolio-nav .javascript {
	background-color: #e5f4fb;
}

/* PAGE SPECIFIC COMPONENTS START */

/* Home Page
===================================================*/

/* View Portfolio btn start */
a.view-portfolio-btn {
display: block;
width:154px;
height:31px;
text-decoration: none;	
text-indent: -1000em;
background: url(../images/buttons/view-portfolio-btn.png) 0 0 no-repeat;
text-decoration: none;	
}

a.view-portfolio-btn:hover {
background-position: 0px -31px;
}

a.view-portfolio-btn:active {
background-position: 0px -62px;
}

/* View Portfolio btn end */

/* View Samples btn start */
a.view-samples-btn {
display: block;
width:154px;
height:31px;
text-decoration: none;	
text-indent: -1000em;
background: url(../images/buttons/view-samples-btn.png) 0 0 no-repeat;
text-decoration: none;	
}

a.view-samples-btn:hover {
background-position: 0px -31px;
}

a.view-samples-btn:active {
background-position: 0px -62px;
}

/* View Samples btn end */

/* More Info btn start */

a.more-info-btn {
background: url(../images/buttons/more-info-btn.png) 0 0 no-repeat;
}

a.get-in-touch-btn {
background: url(../images/buttons/get-in-touch-btn.png) 0 0 no-repeat;
}

a.visit-site-btn {
background: url(../images/buttons/visit-site-btn.png) 0 0 no-repeat;
}

a.more-info-btn, a.get-in-touch-btn, a.visit-site-btn {
display: block;
width:94px;
height:19px;
margin: 0 0 20px 0;
text-decoration: none;	
text-indent: -1000em;
text-decoration: none;	
}

a.more-info-btn:hover, a.get-in-touch-btn:hover, a.visit-site-btn:hover {
background-position: 0px -19px;
}

a.more-info-btn:active, a.get-in-touch-btn:active, a.visit-site-btn:active {
background-position: 0px -38px;
}

/* More Info btn end */

.dashboard { width:460px; height:15px; padding:0 0 0 0; position:relative; margin:0 0 0 0; margin-top:10px;}

/*Home Page Slider*/

.controls {
float:left;
margin-left:10px;
}

.controls ul {
float:left;
margin:0 0px 0 0px;
padding:0;
}

.controls ul li {
cursor:pointer;
float:left;
}

.controls ul li a {
background:transparent url(../images/controls-sprite.png) no-repeat scroll 0 0;
display:block;
height:15px;
margin-top:0;
margin-left:0;
margin-bottom:0;
margin-right:10px;
overflow:hidden;
width:15px;
}

.controls ul li a em {
left:-10000px;
position:absolute;
}

.controls ul li a:hover {
background-position: 0 -15px;
}

.controls ul li a:active, .controls ul li.controls-selected a {
background-position: 0 -30px;
}

.dashboard-text {
float:left;
margin-left:20px;
overflow:visible;
height:15px;
}

.dashboard-text a {
color: #999999; size:14px; text-decoration: none;  
}

.dashboard-text a:hover, .dashboard-text a:focus { color: #000000; text-decoration: underline; }

ul#slider {
    width: 460px;
    height: 340px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#slider li {
    float: left;
    position: relative;
    /*display: none;*/
}

ul#slider li div {
    position: absolute;
    width: 440px;
    background-color: #eee;
	font-size:14px;
    color: #000;
    left: 0;
    /*display: none;*/
    padding: 10px;
}

.captiontop {
    top: 0;
}

.captionbottom {
    bottom: 0;
}

.featured-text {
margin: 0 0 0 0;
padding: 0;
width: 460px;
}

.featured-text h2 {
float: left;
display: block;
width: 460px;
height: 149px;
margin: 0;
padding: 0;
}
.featured-text h1 {
	line-height:42px;
	margin-top:0;
}
.featured-text h2 a {
border: none;
outline: none;
background: transparent url(../images/featuredtext.png) no-repeat left top;
display: block;
width: 460px;
height: 149px;
margin: 0px;
padding: 0;
text-indent: -1000em;
}
/* = Buttons
-----------------------------------------------------------------------------*/
.btn
{
    background: url("/images/buttons/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
	border-top-color: #bbb;
	border-right-color: #bbb;
	border-bottom-color: #999;
	border-left-color: #bbb;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    font: 400 12px/13px 'Droid Sans', 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    overflow: visible;
    padding: 1px 8px 2px;
    width: auto;
}
.btnBig
{
    background: url("/images/buttons/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
	border-top-color: #bbb;
	border-right-color: #bbb;
	border-bottom-color: #999;
	border-left-color: #bbb;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font: 400 18px/40px 'Droid Sans', 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    overflow: visible;
	padding:5px 10px;
    width: auto;
	text-shadow: 1px 1px 0 #f8f8f8;
}
a.btn, a.btnBig {
    color: #333;	
}
.btn:hover, .btn:focus, .btn:active, .btnBig:hover, .btnBig:focus, .btnBig:active {
    background-position: 0 -6px;
    border-color: #999999 #999999 #666666;
    text-decoration: none;
    color: #333;
}

.dualBtns {
	overflow:hidden;
}
.dualBtns li {
	float:left;
	position:relative;
}
.dualBtns li:first-child {
	margin-right:15px;
}
.followList {
	overflow:hidden;
	margin-top:10px;
}
.followList li {
	float:left;
	position:relative;
	margin-right:7px;
}
.followList li:first-child {
	font-weight:bold;
}
#dmitryHome {
margin-left:40px;	
}
.followOnAbout {
margin-top:10px;
overflow:hidden;
}
.followOnAbout li {
float:left;
position:relative;
margin-right:7px;
}